* {
    box-sizing: border-box;
}

html, body, .container, .viewcont {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}

header {
    width: 100%;
    height: 60px;
    padding-left: 140px;
    background: #e8e8e8;
    color: #737373; 
}

header a {
    margin-top: 6px !important;
    display: inline-block;
    font-size: 34px;
    color: #868686;
    font-family: 'Amatic SC', cursive;
}

.PL10 {
    padding-left: 10px !important;
}

.modal h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    font-weight: 400;
    margin: 0;
    margin-top: 20px;
}

.closeButton {
    position: absolute;
    right: 20px;
    font-size: 21px;
    top: 30px;
    color: #565353;
    cursor: pointer;
    border: 1px solid #565353;
    border-radius: 17px;
    width: 33px;
    text-align: center;
    height: 30px;
}

.uploadButtonGray {
    border: 2px solid gray;
    padding: 4px 12px;
    font-weight: 200;
    cursor: pointer;
    background: white;
    color: #828282;
    border-radius: 6px;
    display: inline-block;
}

.uploadButtonWhite {
    border: 2px solid #ffffff;
    padding: 4px 12px;
    font-weight: 200;
    cursor: pointer;
    background: #e8e8e8;
    border-radius: 6px;
    color: #868686;
    display: inline-block;
}

.title {
    text-align: center;
    color: #5d5f6f;
    font-weight: 300;
    font-size: 26px;
    width: 40%;
    padding: 10px 0;
    margin: 0 auto;
    border-radius: 6px;
}

.submissionTitle {
    margin-top: 10px;
    border: 1px solid #00fff1;
    height: 30px;
    width: 245px;
    border-radius: 6px;
    padding-left: 5px;
}

.contwrapper {
    height: 100%;
    width: 80%;
    padding-top: 20px;
    margin: 0 auto;
}

.contwrapper .album {
    max-width: 720px;
    width: auto;
    display: block;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    float: none;
}

.uploader {
    display: inline-block;
    position: absolute;
    margin-top: 12px;
}

.overlay {
    width: 100%;
    position: absolute;
    height: 100%;
    background: #000000;
    opacity: .4;
    z-index: 100;
}

.modal {
    width: 400px;
    height: 400px;
    position: absolute;
    background: #ffffff;
    margin: 0 auto;
    left: 0;
    display: block;
    right: 0;
    padding: 10px;
    z-index: 200;
    top: -100%;
    -webkit-box-shadow: 10px 10px 16px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 16px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 16px -9px rgba(0,0,0,0.75);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.modalShow {
    top: 20%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.imgWrap {
    width: 250px;
    height: 200px;
    margin: 5px 0 0 5px;
    cursor: pointer;
    border: 6px solid #e8e8e8;
    display: inline-block;
}

.imgWrap:hover > .imgControlPanel {
    display: block;
}

.img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.imgControlPanel {
    position:absolute; 
    width: 238px;
    display: none;
}

.imgControls {
    width: 25%;
    float: left;
    height: 30px;
    background: gray;
    text-align: center;
    padding-top: 2px;
    font-size: 22px;
    opacity: .7;
}

.uploadModal {
    position: absolute;
    top: 14px;
    margin-left: 40px;
}

.progressbar {
    height: 2px;
    width: 100%;
    background: #f783b3;
}

.innerprogress {
	height: 2px;
    width: 0%;
	background: #133754;
}

.layoutbutton {
	margin-right: 20px;
	float: right;
    color: #2196F3;
    cursor: pointer;
}

.layoutbutton:hover {
	color: #DA525D;
}

/* Comment section */

.commentSection {
    margin: 20px 0 60px 180px;
}

.commentSection .submission {
    font-size: 20px;
    color: #5d5f6f;
    width: 720px;
    min-height: 100px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 6px;
}

.commentSection .submission:nth-child(odd) {
    background: #f1f1f1;
}

.commentSection .submission:nth-child(even) {
    background: #d4d4d4;
}

.commentSection .username {
    
}

.commentSection .content {
    display: block;
    padding-top: 10px;
}

.commentBtn {
    display: block;
    border: 1px solid #00fff1;
    padding: 5px;
    color: #8e8e8e;
    width: 160px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

/* Comment section */